<!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >{{title}}</h3>
		<h4><a routerLink="/stocks">List All Stock</a><label>/</label>{{title}}</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="single">
	<div class="container">
		<div class="single-top-main">
			<div class="col-md-5 single-top">
				<div class="single-w3agile">

					<div id="picture-frame">
						<img src="assets/images/warehouse.jpg" data-src="assets/images/warehouse.jpg" alt="" class="img-responsive"/>
					</div>
					<script src="js/jquery.zoomtoo.js"></script>
					<script>
						$(function() {
							$("#picture-frame").zoomToo({
								magnify: 1
							});
						});
					</script>



				</div>
			</div>
			<div class="col-md-7 single-top-left ">
				<div class="single-right" *ngIf="stock">

					<h3>{{ stock.name | uppercase }} Details</h3>
					<hr />
					<div><span>id: </span>{{stock.id}}</div>
					<div><span>lastUpdated: </span>{{stock.lastUpdate}}</div>
					<hr />
					<table>
						<tr>
							<td>Stock Name:</td>
							<td><input [(ngModel)]="stock.name" placeholder="stock name" /><br /></td>
						</tr>
						<tr>
							<td>Stock Price:</td>
							<td><input type="number" [(ngModel)]="stock.currentPrice" placeholder="stock current price" /></td>
						</tr>
						<tr>
							<td>Stock Quantity:</td>
							<td><input type="number" [(ngModel)]="stock.quantity" placeholder="stock quantity" /></td>
						</tr>
					</table>
					<hr />
					<div class="add add-3">
						<button class="btn btn-danger my-cart-btn my-cart-b" (click)="goBack()">< go back</button>
						<button class="btn btn-danger my-cart-btn my-cart-b" (click)="save()">Update</button>
					</div>

					<div class="clearfix"> </div>
				</div>


			</div>
			<div class="clearfix"> </div>
		</div>	


	</div>
</div>